<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: head">
</head>

<body>

 <header id="header" th:replace="fragments/fragment :: header">
 </header>
 
 <section id="heroV2">
    <div class="hero-container">
      <div class="row justify-content-md-center">
      <div class="col-md-10">
      	
      		<h2>Cari Mahasiswa</h2>
      		
      		<form action="/mahasiswa/cari3" method="GET">
			  
			  <div class="form-group row">
			    <label for="tahun" class="col-sm-2 col-form-label">Universitas</label>
			    <div class="col-sm-6">
		  		  	<select class="form-control" id="univ" name="univ" disabled>
  						<option th:each="univ : ${univSelected}" th:selected="${univ.id == id_univ}" th:value="${univ.id}" th:text="${univ.nama_univ}"></option>
    
			  		</select>
			    </div>
			  </div>
			  <div class="form-group row">
			    <label for="tahun" class="col-sm-2 col-form-label">Fakultas</label>
			    <div class="col-sm-6">
		  		  	<select class="form-control" id="fakultas" name="fakultas" disabled>
  						<option th:each="fak : ${fakultas}" th:selected="${fak.id == id_fakultas}" th:value="${fak.id}" th:text="${fak.nama_fakultas}"></option>
    
			  		</select>
			    </div>
			  </div>
			  <div class="form-group row">
			    <label for="tahun" class="col-sm-2 col-form-label">Program Studi</label>
			    <div class="col-sm-6">
		  		  	<select class="form-control" id="prodi" name="prodi">
  						<option th:each="prod : ${prodi}"  th:value="${prod.id}" th:text="${prod.nama_prodi}"></option>
    
			  		</select>
			    </div>
			  </div>
			  <div class="form-group row">
			   	<button type="submit" class="btn btn-primary" value="Submit">Cari</button>
			  </div>
			  
			</form>
      		
      	</div>
      </div>
    </div>
  </section>

</body>

<script th:inline="javascript">

$(document).ready(function() {
	$('form').submit(function () { $('[disabled]').removeAttr('disabled'); })
} );
</script>

</html>
